body{
    background-image: url(img/bgfon.jpg);
    background-repeat:repeat;
   
}
#zagolovok{
    background-image:url(img/%D1%84%D0%BE%D0%BD-%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BE%D0%BA.jpg) ;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    border: 0px solid green;
    margin-top: 40px;
    min-width: 490px;
}
header{
    width: 100%;
    border: 0px solid red;
    overflow: hidden;
    margin-left: 90px;
}
header p{
    color: darkolivegreen ;
    float: right;
    font-size: 25px;
    margin-right: 250px;
    margin-top: 55px;
}
nav{
    background-image:url(img/%D1%84%D0%BE%D0%BD-%D1%84%D0%BE%D0%BD.jpg) ;
    border: 0px solid grey;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1150px;
    

}
.l{
    
    float:left;
    margin:10px;
    text-decoration: none;
    list-style-type: none;
    
}
.l img{
    margin-top: 16px;
    height: 161px;
    width: 260px;
}
#pr{
    width: 1024px;
    height: 5px;
}
#ul{
    margin-left: 50px;
}
.frph{
    height: 167px;
    width: 270px;
    margin: 1px;
    border: solid darkcyan;
}
#fr {
    color: darkcyan;
    font-size: 30px;
    
}
.tdfrph{
    width: 270px;
    height: 336px;
    
}
.frtx{
    width: 450px;
    height: 225px;
    font-size: 14px;
    color: cadetblue;
}
#tfr{
    margin-left: 100px;
    margin-top: 30px;
}
.zgfr{
    font-size: 15px;
    color: darkcyan;
}
.bgph{
    height: 185px;
    width: 300px;
    border: solid darkgreen;
}
#bg{
    font-size: 30px;
    color:darkgreen ;
    margin-left: 55px;
}
.txbg{
    width: 300px;
    font-size: 11px;
    color: darkolivegreen;
}
#tbbg{
    margin-left: 50px;
}
#pltx{
    width: 240px;
    color: darkslategrey;
    font-size: 10px;
}
.phpl{
    margin: 10px;
    height: 240px;
    width: 240px;
    border: solid darkcyan;
}
#pl{
    font-size: 40px;
    color: darkslategray;
    margin-left: 115px;
}
#plt{
    margin-left: 110px;
}
#eg{
    margin-top: 80px;
    margin-left: 40px;
    width: 953px;
    height: 943px;
}
#egp{
    font-size: 70px;
  
    height: 225px;
    width: 365px;
}
#egph1{
    height: 580px;
    width: 944px;
    border: solid darkcyan 4px;

}
#egtxbol{
    
    float: right;
    height: 360px;
    width: 584px;
    font-size: 16px;
    margin-top: 50px;
    color:darkcyan;

}
#egtxmal{
 
    width: 219px;
    height: 135px;
 
    font-size: 17px;
    color:darkcyan;
   
}
#egph2{
    height: 88px;
    width: 144px;
    border: solid darkcyan 1px;
 
   

}
#egph3{
    width: 71px;
    height: 43px;
    float: left;
    border: solid darkcyan 1px;
}
#egph4{
     width: 71px;
    height: 43px;
    float: right;
    border: solid darkcyan 1px;
}
#eg1{
    height: 362px;
    width: 369px;
    float: left;
    
   
}
#eg2{
    height: 135px;
    width: 365px;
    float: left;


}
#eg3{
    height: 360px;
    width: 146px;
 
    float: right;
}
#eg4{
    height: 135px;
    width: 219px;
    float: left;
   
}
#eg2tx{
    float: right;
    
}
#nd{
     font-size: 40px;
    color: darkslategray;
    margin-left: 115px;
}
#ndtx{
     width: 240px;
    color: darkslategrey;
    font-size: 10px;
}
.phnd{
     margin: 10px;
    height: 240px;
    width: 240px;
    border: solid darkcyan;
}
#ndt{
    margin-left: 110px;
}
.ukph{
       height: 185px;
    width: 300px;
    border: solid darkgreen; 
}
#uk{
    font-size: 30px;
    color:darkgreen ;
    margin-left: 55px;
}
.txuk{
    width: 300px;
    font-size: 10px;
    color: darkolivegreen;
}
#tbuk{
    margin-left: 50px;
}